---
import { CollectionEntry, getCollection } from "astro:content";
import { Image, getImage } from "astro:assets";
import ContentLayout from "../../layouts/content.astro";
import FormattedDate from "../../components/FormattedDate.astro";

export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();

const images = await Promise.all(
	[post.data.images]
		.flat()
		.filter((i) => i !== undefined)
		.map(async (i) => {
			return {
				original: await getImage({
					src: i.img,
					alt: i.desc,
				}),
				thumbnail: await getImage({
					src: i.img,
					width: 400,
					alt: i.desc,
				}),
			};
		})
);
---

<ContentLayout title={post.data.title}>
	<style lang="scss" is:global>
		@import "../../styles/post.scss";
		@import "photoswipe/style.css";
	</style>
	<script>
		import Masonry from "masonry-layout";
		import imagesLoaded from "imagesloaded";
		import lightbox from "../../scripts/lightbox.ts";

		// Masonry is the nice grid layout of the images
		var msnry = new Masonry(document.querySelector("#gallery"), {
			itemSelector: ".grid-item",
			columnWidth: ".grid-sizer",
			percentPosition: true,
		});

		// Re-arrange grid as images are loaded, otherwise it looks broken
		imagesLoaded("#gallery", () => {}).on("progress", function () {
			msnry.layout();
		});

		// Fullscreen images when clicking on it
		lightbox.init();
	</script>
	<article>
		<h2>{post.data.title}</h2>
		<div class="meta">
			{post.data.country} • <FormattedDate date={post.data.date} />
		</div>
		<Image src={post.data.cover} width="1024" alt="" />
		<Content />
	</article>
	<div id="gallery" class="grid">
		<div class="grid-sizer"></div>
		{
			images.map((image) => (
				<a
					class="grid-item"
					href={image.original.src}
					data-pswp-width={image.original.attributes.width}
					data-pswp-height={image.original.attributes.height}
					target="_blank"
				>
					<img
						src={image.thumbnail.src}
						alt={image.original.attributes.alt}
					/>
					<p class="image-desc">{image.original.attributes.alt}</p>
				</a>
			))
		}
		<!-- </div> -->
	</div>

	<div
		id="disqus_thread"
		data-slug={post.slug}
		data-url={import.meta.env.SITE}
	>
	</div>
	<script is:inline>
		/**
		 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
		 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
		var disqus_config = function () {
			var data = document.getElementById("disqus_thread").dataset;
			this.page.url = data.url + "/blog/" + data.slug;
			this.page.identifier = data.slug;
		};
		(function () {
			// DON'T EDIT BELOW THIS LINE
			var d = document,
				s = d.createElement("script");
			s.src = "https://uberlandpost.disqus.com/embed.js";
			s.setAttribute("data-timestamp", +new Date());
			(d.head || d.body).appendChild(s);
		})();
	</script>
</ContentLayout>
