---
import SiteLayout from '../layouts/site.astro';
import { Image, getImage } from 'astro:assets'
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.date.valueOf() - a.data.date.valueOf()
	);

// load small cover images into a map
var images = new Map();
await Promise.all(posts.map(async (post) => {
	images.set(post.slug, await getImage({
		src: post.data.cover,
		width: 500,
	}));
}));
---

<SiteLayout title="">
	<style lang="scss" is:global>
		@import '../styles/index.scss';
	</style>
		<div class="blog-grid">
				{
					posts.map((post) => (
						<div class="grid-item">
							<a href={`/blog/${post.slug}/`}>
								<Image src={post.data.cover} alt="" width="600" quality="mid"/>
									<p>
										<span class="title">{post.data.title}</span>
										<br />
										<span class="sub-title country">{post.data.country}</span>
										<br /><br />
										<FormattedDate className="sub-title"
											date={post.data.date}
										/>
									</p>
								</Image>
							</a>
						</div>
					))
				}
			</div>
		</SiteLayout>
